.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  img {
    max-width: 800px;
    height: 500px;
   object-fit: fill;
    margin: 10px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: 100%;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a:hover {
    transform: scale(1.05);
  }

  p {
    max-width: 400px;
    margin: 0 auto;
    word-wrap: break-word;
    padding: 0 10px; /* Optional: Adds some padding for better text appearance */
  font-family: 'Franklin Gothic Medium',sans-serif;
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}
