.container {
  text-align: center;
  p {
    font-size: 16px;
    color: var(--footer-text-color);
  }
}

/* Media query for tablets (portrait and landscape) */
@media (min-width: 600px) and (max-width: 799px) {
  .container {
    text-align: center;
  }

  p {
    font-size: 18px;
  }
}

/* Media query for small tablets and larger phones */
@media (min-width: 400px) and (max-width: 599px) {
  .container {
    text-align: center;
  }

  p {
    font-size: 16px;
  }
}

/* Media query for phones */
@media (max-width: 399px) {
  .container {
    text-align: center;
  }

  p {
    font-size: 14px;
  }
}
