.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 100vw;
    height: 100px;
    object-fit: contain;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 0 1rem;
  }
}

.skillList {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 200px;
  }
}

/* Media query for tablets (portrait and landscape) */
@media (min-width: 600px) and (max-width: 799px) {
  .container {
    text-align: center;
  }

  .skillList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  img {
    width: 80px;
    height: auto;
  }

  hr {
    width: 150px;
  }
}

/* Media query for small tablets and larger phones */
@media (min-width: 400px) and (max-width: 599px) {
  .container {
    text-align: center;
  }

  .skillList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  img {
    width: 60px;
    height: auto;
  }

  hr {
    width: 120px;
  }
}

/* Media query for phones */
@media (max-width: 399px) {
  .container {
    text-align: center;
  }

  .skillList {
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 50px;
    height: auto;
  }

  hr {
    width: 100px;
  }
}
